<div class="row cmt">
  <div class= "col-md-12">
    <span class="name"><%= comment.user_name %></span>
    <span><%= comment.content %></span>
  </div>
  <div class="col-md-3 date"><%= time_ago_in_words(comment.created_at) %></div>
  <div class="col-md-9 date">
    <% if logged_in? && comment_of_user?(comment) %>
      <%= link_to comment_path(comment_id: comment.id), method: :delete,
        data: {confirm: t("you_sure")} do %>
        <%= t "delete" %>
      <% end %>
    <% end %>
  </div>
</div>
