<div class="col-md-3 col-sm-6">
  <div class="product-grid6">
    <div class="product-image6">
      <%= link_to book_path(book) do %>
        <%= image_tag book.image_url.to_s, class: "pic-1" %>
      <% end %>
    </div>
    <div class="product-content">
      <h3 class="title"><a href="#"><%= book.name %></a></h3>
      <div class="price"><%= t "product_price", price: book.price %></div>
      <div><%= book.writers %></div>
      <div><%= book.avg_rating %></div>
    </div>
    <ul class="social">
      <li>
        <%= link_to book_path(book), "data-tip": t("view") do %>
          <i class="fa fa-eye"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#", "data-tip": t("like") do %>
          <i class="fa fa-heart"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
