<div class="col-md-3 col-sm-6">
  <div class="product-grid6">
    <div class="product-image6">
      <%= link_to book_path(book) do %>
        <%= image_tag book.image_url.to_s, class: "pic-1" %>
      <% end %>
    </div>
    <div class="product-content">
      <h3 class="title"><a href="#"><%= book.name %></a></h3>
      <div class="price"><%= t "product_price", price: book.price %></div>
      <div><%= book.writers %></div>
      <div class="rating">
        <div class="stars">
          <% book.avg_rating.to_i.times do  %>
            <span class="fa fa-star checked"></span>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="social">
      <li>
        <%= link_to book_path(book), "data-tip": t("view") do %>
          <i class="fa fa-eye"></i>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to book_path(book), "data-tip": like?(book) ? t("unlike") : t("like") do %>
            <i class="fa <%= like?(book) ? "fa-thumbs-down" : "fa-thumbs-up" %>"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, "data-tip": t("like") do %>
            <i class="fa fa-thumbs-up"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
