<div class="main row admin">
  <aside class="col-md-3">
    <div class="sidebar">
      <div class="user-panel">
        <div class="info">
          <p><%= t "admin.static_pages.ad" %></p>
          <i class="fa fa-circle text-success"></i>
          <%= t "admin.static_pages.online" %>
        </div>
      </div>

      <ul class="list-sidebar bg-defoult">
        <li>
          <%= link_to admin_root_path do %>
            <i class="fa fa-home"></i>
            <span class="nav-label">
              <%= t "admin.static_pages.dashboard" %>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-check-square"></i>
            <span class="nav-label">
              <%= t "admin.static_pages.request" %>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <i class="fa fa-cube"></i>
            <span class="nav-label"><%= t "category" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-book"></i>
            <span class="nav-label"><%= t "book" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_authors_path do %>
            <i class="fa fa-user-circle"></i>
            <span class="nav-label"><%= t "author" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i>
            <span class="nav-label"><%= t "user" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-table"></i>
            <span class="nav-label"><%= t "publisher" %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
