<div class="main row">
  <aside class="col-md-3">
    <div class="sidebar">
      <div class="user-panel">
        <div class="info">
          <p><%= t "admin.static_pages.ad" %></p>
          <i class="fa fa-circle text-success"></i>
          <%= t "admin.static_pages.online" %>
        </div>
      </div>

      <ul class="list-sidebar bg-defoult">
        <li>
          <a href="" data-toggle="collapse" data-target="#dashboard" class="collapsed active">
            <i class="fa fa-check-square"></i>
            <span class="nav-label">
              <%= t "admin.static_pages.request" %>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cube"></i>
            <span class="nav-label"><%= t "admin.static_pages.category" %></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book"></i>
            <span class="nav-label"><%= t "admin.static_pages.book" %></span>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active" >
            <i class="fa fa-user-circle"></i>
            <span class="nav-label"><%= t "admin.static_pages.author" %></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="nav-label"><%= t "admin.static_pages.user" %></span>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active" >
            <i class="fa fa-table"></i>
            <span class="nav-label"><%= t "admin.static_pages.publisher" %></span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>
